Ada.UI.Wpf.StartWindow/SampleData/DrivesSamples/DrivesSamples.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008"
           xmlns:tns="Expression.Blend.SampleData.DrivesSamples"
           targetNamespace="Expression.Blend.SampleData.DrivesSamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DrivesSamples" type="tns:DrivesSamples" />
  <xs:complexType name="DrivesSamples">
    <xs:sequence>
      <xs:element name="Drives" type="tns:Drives" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Drives">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DrivesItem" type="tns:DrivesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DrivesItem">
    <xs:attribute name="Drive" type="xs:string" />
    <xs:attribute name="Status" type="xs:boolean" />
  </xs:complexType>
</xs:schema>